body{
    margin:0px;
    background-color: rgb(191, 191, 191);
}

header{
    position: fixed;
    background-color: hsl(213, 100%, 50%);
}

header h1{
    padding:40px;
}
main{
    background-color: rgb(94, 207, 255);
}

